*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, .tituloSecundario {
    font-family: 'Cambria';
    text-align: center;
}

.tituloSecundario {
    margin-top: 2rem;
    font-size: medium;
}

.oculto {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 90vw */;
    margin: 2rem;
}

.listaPrincipal {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    list-style-position: inside;
}

.listaDisponibles {
    margin: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .25rem;
    list-style: none;
}

.enganchado {
    display: inline-flex;
    flex-direction: row;
    justify-items: center;
    list-style: none;
}

.temaListado, .temaDisponible {
    /* display: flex;
    justify-content: space-between;
    gap: .5rem; */
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    color: white;
}

.temaListado {
    background-color: #37bbed;
    cursor: grab;
}

.temaListado:active {
    cursor: grabbing;
}

.temaDisponible {
    background-color: red;
}

.botonEliminar, .botonLink, .botonReciclar, .botonUnLink {
    border: none;
    background-color: inherit;
    color: white;
    cursor: pointer;
    /* display: inline-flex; */
}

.botonEliminar, .botonReciclar {
    padding-right: .5rem;
}

.botonLink {
    padding-left: .5rem;
    float: inline-end;
}
.botonEliminar:hover, .botonLink:hover, .botonReciclar:hover, .botonUnLink:hover {
    color: black;
}

.botonUnLink {
    padding-left: .5rem;
    padding-right: .5rem;
}


#botonImprimir, #botonCopiar {
    padding: .5rem;
    font-size: 1.5rem;
    background-color: white;
    color: green;
    border: none;
    cursor: pointer;
}

#botonImprimir:hover, #botonCopiar:hover {
    color: darkgreen;
}

/*instrucciones*/

.modal {
  display: none; /* oculto por defecto */
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.5); /* fondo semitransparente */
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  line-height: 3rem;
}

.modal-content ul {
    list-style-type: '- ';
}

.cerrar {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

#instruccionesLink {
    margin: 1rem;
    text-decoration: none;
    color: #37bbed;
    font-weight: 600;
}
