*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, .tituloSecundario {
    font-family: 'Cambria';
    text-align: center;
}

.tituloSecundario {
    margin-top: 2rem;
    font-size: medium;
}

.oculto {
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 2rem;
}

.listaPrincipal {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    list-style-position: inside;
}

.listaDisponibles {
    margin: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: .25rem;
    list-style: none;
}

.temaListado, .temaDisponible {
    /* display: flex;
    justify-content: space-between;
    gap: .5rem; */
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    color: white;
}

.temaListado {
    background-color: #37bbed;
}

.temaDisponible {
    background-color: red;
}

.botonEliminar, .botonLink, .botonReciclar {
    border: none;
    background-color: inherit;
    color: white;
    cursor: pointer;
}

.botonEliminar, .botonReciclar {
    padding-right: .5rem;
}

.botonLink {
    padding-left: .5rem;
    float: inline-end;
}
.botonEliminar:hover, .botonLink:hover, .botonReciclar:hover {
    color: black;
}


#botonImprimir {
    padding: .5rem;
    font-size: 1.5rem;
    background-color: white;
    color: green;
    border: none;
    cursor: pointer;
}

#botonImprimir:hover {
    color: darkgreen;
}